:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color-theme-dark: #FFFFFF;
    --primary-text-color-theme-light: #434455;
    --secondary-text-color-theme-dark: #F4F4FD;
    --secondary-text-color-theme-light: #2E2F42;
    --accent-color: #404BBF;
    --accent-color-btn: #4d5ae5;
    --accent-color-social-link: #31D0AA;
    --transition-duration-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ==========COMPONENTS==========*/
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.main-body {
    font-family: var(--primary-font);
    color: #434455;
    background: var(--primary-text-color-theme-dark);
    font-style: normal;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
}

img {
    display: block;
}

form {
    display: block;
    margin-top: 0em;
}

label {
    cursor: default;
}

:not(svg) {
    transform-origin: 0px 0px;
}

/* CONTAINER*/

.container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 428px) {
    .container {
        width: 428px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* ==========/COMPONENTS==========*/

/* ==========HEADER========== */

.page-header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E7e9fc;
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
    .page-header {
        padding-top: 0;
        padding-bottom: 0;
    }
}

@media screen and (min-width: 1158px) {
    .page-header {
        padding-bottom: 0;
    }
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-nav {
    display: block;
}

@media screen and (min-width: 768px) {
    .page-nav {
        display: flex;
        align-items: center;
        column-gap: 120px;

        /* font-size: 16px;
        font-weight: 500;
        line-height: 24px; */
    }
}

.logo {
    /* margin-right: 76px; */
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-color-btn);
}

@media screen and (min-width: 768px) {
    .logo {
        margin-right: 0;
    }

}

.logo-studio {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-text-color-theme-light);
}

.menu-nav {
    display: none;
    /* font-family: var(--secondary-font);
    display: flex;
    align-items: center;
    gap: 40px; */
}

@media screen and (min-width: 768px) {
    .menu-nav {
        display: flex;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        gap: 40px;
    }
}

@media screen and (min-width: 768px) {
    .current {
        color: var(--accent-color);
    }
}

@media screen and (min-width: 768px) {
    .current::after {
        width: 100%;
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
    }
}

@media screen and (min-width: 768px) {
    .menu-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
        color: var(--secondary-text-color-theme-light);
        padding: 24px 0;
        display: block;
    }
}

/* .menu-link {
    position: relative;
    align-items: center;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

/* «C4» Інтерактивні елементи (кнопки і посилання),при наведенні мишкою або фокусі з клавіатури, мають активний стан, 
вказаний в Style guide (зміна кольору).*/

/* .menu-link::after {
    display: inline-block;
    justify-content: center;
    position: absolute;
    height: 4px;
    width: 48px;
    left: 0px;
    top: 65px;
    border-radius: 2px;
    background-color: var(--accent-color);
    margin-bottom: 20px;
    content: '';
    bottom: -1px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

@media screen and (min-width: 768px) {
    .addres-item {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: var(--primary-text-color-theme-light);
        letter-spacing: 0.02em;
    }
}

.menu-link:hover,
.menu-link:focus,
.addres-item:hover,
.addres-item:focus {
    color: var(--accent-color);
}

.contact {
    display: none;
    /* font-family: var(--primary-font);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

@media screen and (min-width: 768px) {
    .contact {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        margin-left: auto;

    }
}

@media screen and (min-width: 1158px) {
    .contact {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-left: auto;
    }
}

@media screen and (min-width: 768px) {
    .menu-item-contact {
        margin-bottom: 12px;
    }
}

@media screen and (min-width:1158px) {
    .menu-item-contact {
        margin-bottom: 0px;
        margin-right: 40px;
    }
}

/* <!-- HEADER-MOBILE-MENU --> */

.mobile-menu-open-btn {
    background-color: transparent;
    line-height: 0;
    margin-left: auto;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px;
}

@media screen and (min-width: 768px) {
    .mobile-menu-open-btn {
        display: none;
    }
}

.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    padding-top: 80px;
    padding-left: 40px;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-image: initial;
    padding: 0px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.site-nav-mobile {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.site-nav-link-mobile {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.menu-link-mobile {
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.current-mobile {
    color: #404BBF;
}

.nav-address-mobile {
    font-style: normal;
    margin-bottom: 48px;
}

.address-mobile {
    display: block;
    margin-top: 284px;
}

.contacts-mobile {}

.mob-item {
    margin-bottom: 40px;
}

.contacts-mobile-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

@media screen and (min-width: 320px) and (max-width: 424px) {
    .contacts-mobile-tel {
        font-size: 26px;
    }
}


.color-contacts {
    color: #4D5AE5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-mobile-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
}

.mobile-social-list {
    display: flex;
    align-items: center;
    gap: 56px;
    margin-bottom: 40px;
}

@media screen and (max-width: 428px) {
    .mobile-social-list {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 40px;
    }
}

.social-icon-item {
    width: 40px;
    height: 40px;
}

.social-icon-item-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
}

.social-icon-item-link-svg {
    fill: #F4F4FD;
}

/* svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
} */

/* ==========/HEADER========== */
/* ==========HERO==========*/
.page-hero {
    background-color: var(--secondary-text-color-theme-light);
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/hero/office.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto; */
}

/* Mobile people-office-mobile */
@media screen and (max-width: 767px) {
    .page-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-mobile.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .page-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-mobile@2x.jpg);
    }
}

/* Tablet people-office-tablet */
@media screen and (min-width: 768px) {
    .page-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-tablet.jpg);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .page-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office-tablet@2x.jpg);
    }
}

/* Desktop people-office */
@media screen and (min-width: 1158px) {
    .page-hero {

        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office.jpg);
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1158px) @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px) {
    .page-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office@2x.jpg);
    }
}

.main-title {
    font-family: var(--primary-font);
    font-weight: 700;
    color: var(--primary-text-color-theme-dark);
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    text-transform: capitalize;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .main-title {
        font-family: var(--primary-font);
        font-weight: 700;
        color: var(--primary-text-color-theme-dark);
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
        text-transform: none;
    }
}

@media screen and (min-width: 1158px) {
    .main-title {
        font-family: var(--primary-font);
        font-weight: 700;
        color: var(--primary-text-color-theme-dark);
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
        text-transform: none;
    }
}

.modal-btn {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-text-color-theme-dark);
    background: var(--accent-color-btn);
    cursor: pointer;
    padding: 16px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 56px;
    min-width: 169px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background: var(--accent-color);
}

/* ==========/HERO==========*/

/* ==========STRATEGY==========*/

.description-strategy-sections {
    background: var(--primary-text-color-theme-dark);
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .description-strategy-sections {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

@media screen and (min-width: 1158px) {
    .description-strategy-sections {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.text-title-strategy {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    /* 
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px; */
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .page-strategy-container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
}

@media screen and (min-width: 1158px) {
    .page-strategy-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
    }
}

.strategy-icon {
    display: none;
}

@media screen and (min-width: 1158px) {
    .strategy-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        margin-bottom: 0px;
    }
}

li.menu-item-strategy:last-child {
    margin-bottom: 0;
}

.menu-item-strategy {
    margin-bottom: 72px;
    /* width: calc((100% - 72px) / 4); */
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .menu-item-strategy {
        flex-basis: calc((100% - 24px) / 2);
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1158px) {
    .menu-item-strategy {
        margin-bottom: 0;
        width: calc((100% - 72px) / 4);
    }
}

.text-title-description-strategy {
    align-items: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
    margin-bottom: 8px;
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .text-title-description-strategy {
        text-align: left;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color-theme-light);
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 1158px) {
    .text-title-description-strategy {
        font-family: var(--primary-font);
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color-theme-light);
        background-color: var(--primary-text-color-theme-dark);
        margin-bottom: 0;
    }
}

.text-description-strategy {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
    font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .text-description-strategy {
        font-weight: 500;
    }
}

@media screen and (min-width: 1158px) {
    .text-description-strategy {
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color-theme-light);
    }
}

/* ==========/STRATEGY========== */

/* ==========-WORK-========== */
/* .section-2-item - секція 3 */

.h-two-list-img {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-main-text);
    margin-bottom: 72px;
}

@media screen and (max-width: 428px) {
    .description-work-sections {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .description-work-sections {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .description-work-sections {
        padding-bottom: 120px;
    }
}

@media screen and (min-width: 1158px) {
    .third {
        display: flex;
        gap: 24px;
    }
}

/* ==========/-WORK-========== */
/* ==========OUR TEAM========== */
/* .section-3-item - секція 4 */

.description-team-sections {
    background-color: var(--secondary-text-color-theme-dark);
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
    .description-team-sections {
        background-color: var(--secondary-text-color-theme-dark);
        padding-top: 120px;
        padding-bottom: 120px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

/* text-title-hider-2 */

.text-title-strategy {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;

    /* display: flex;
    gap: 24px; */
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .team-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        display: flex;
        gap: 24px;
        flex-wrap: nowrap;
    }
}


.menu-item-team {
    background-color: var(--primary-text-color-theme-dark);
    flex-basis: calc((100% - 24px) / 2);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

    /* text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4); */
}

@media screen and (min-width: 767px) and (max-width: 1157px) {
    .menu-item-team {
        background-color: var(--primary-text-color-theme-dark);
        flex-basis: calc((100% - 24px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}

@media screen and (min-width: 1158px) {
    .menu-item-team {
        background-color: var(--primary-text-color-theme-dark);
        flex-basis: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    }
}

.menu-item-team-box {
    padding: 32px 16px 32px 16px;
}

/* .text-title-hider-3 */

.text-title-description {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
    background-color: var(--primary-text-color-theme-dark);
    margin-bottom: 8px;
    text-align: center;
}

.text-description {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
    text-align: center;
}

.social-list-our-team {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: nowrap;
    margin-top: 8px;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: #404bbf;
}

.social-list-icon {
    fill: var(--secondary-text-color-theme-dark);
}

/* ==========/OUR TEAM========== */

/* ==========CUSTOMERS========== */

.description-customers {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--primary-text-color-theme-dark);
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .customers-list {
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .customers-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 24px;
        color: var(--primary-text-color-theme-light);
    }
}

.customers-list-item {
    flex-basis: calc((100% - 16px) / 2);
    height: 88px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .customers-list-item {
        flex-basis: calc((100% - 24px) / 4);
        height: 88px;
    }
}

@media screen and (min-width: 1158px) {
    .customers-list-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc((100% - 120px) / 6);
        height: 88px;
    }
}

.customers-list-link {
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8E8F99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 320px) and (max-width: 426px) {
    .customers-list-link {
        width: 120px;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 427px) and (max-width: 767px) {
    .customers-list-link {
        width: 190px;
        height: 88px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #8E8F99;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .customers-list-link {
        width: 168px;
        height: 88px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #8E8F99;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.customers-list-link:hover,
.customers-list-link:focus {
    border-color: #404bbf;
    color: #404BBF;
}

.customers-list-icon {
    fill: currentColor;
}

/* ==========/CUSTOMERS========== */

/* ==========FOOTER========== */

.footer-title {
    background: var(--secondary-text-color-theme-light);
    padding: 100px 0 100px 0;
}

.footer-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-title-container {
        display: flex;
        flex-wrap: wrap;
        width: 584px;
        gap: 72px 24px;
        flex-direction: unset;
        justify-content: left;
    }

}

@media screen and (min-width: 1158px) {
    .footer-title-container {
        display: flex;
        align-items: baseline;
        flex-direction: row;
        gap: 0;
    }
}

.logo-content-footer {
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .logo-content-footer {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .logo-content-footer {
        text-align: left;
        margin-right: 120px;
        /* width: 264px;
        margin-right: 120px; */
    }
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-studio-footer {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-dark);
    text-transform: uppercase;
}

.text-description-footer-item {
    padding: 0px 0px 100px 156px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .text-description-footer {
        font-family: var(--primary-font);
        max-width: 264px;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: var(--secondary-text-color-theme-dark);
    }
}


@media screen and (min-width: 768px) and (max-width: 1157px) {
    .text-description-footer {
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color-theme-dark);
        max-width: 264px;
    }
}

@media screen and (min-width: 1158px) {
    .text-description-footer {
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color-theme-dark);
    }
}

/*FOOTER Social media*/

.social-media-text-content-footer {
    text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .social-media-text-content-footer {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .social-media-text-content-footer {
        text-align: left;
        margin-right: 80px;
        /* display: block; */
    }
}

.social-media-text-content-footer {
    display: block;
    text-align: center;
    /* margin-right: 80px; */
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .social-media-text-content-footer {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .social-media-text-content-footer {
        text-align: left;
        margin-right: 80px;
    }
}

.social-media-list-ft {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
    margin-bottom: 16px;
}

.social-list-ft {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-list-item-ft {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.social-list-link-ft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    fill: var(--primary-text-color-theme-dark);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-ft:hover,
.social-list-link-ft:focus {
    background-color: #31d0aa;
}

.social-list-icon-ft {
    fill: var(--secondary-text-color-theme-dark);
}

/*/FOOTER Social media*/

/*FOOTER Subscribe*/

.footer-form-wraper {
    text-align: center;
    width: 100%;
    /* box-sizing: inherit; */
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-form-wraper {
        width: 240px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-form-wraper {
        /* width: 240px; */
    }
}

.footer-social-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-dark);
    margin-bottom: 16px;
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-social-title {
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .footer-social-title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color-theme-dark);
        margin-bottom: 16px;
        text-align: left;
    }
}


.footer-form {
    display: flex;
    column-gap: 24px;
    align-content: stretch;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-form {
        flex-direction: unset;
    }
}

@media screen and (min-width: 1158px) {
    .footer-form {
        display: flex;
        flex-direction: unset;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer-form-field {
        width: 100%;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-form-field {
        width: 264px;

    }
}

@media screen and (min-width: 1158px) {
    .footer-form-field {
        width: 264px;
    }
}


.input-description-black {
    width: 100%;
    height: 40px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    color: #FFFFFF;
    /* gap: 24px;
    padding: 8px 16px; */
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .input-description-black {
        width: 264px;
        height: 40px;
    }
}

@media screen and (min-width: 1158px) {
    .input-description-black {
        width: 264px;
        height: 40px;
        border: 1px solid #FFFFFF;
        background-color: transparent;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        padding-left: 16px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        color: #FFFFFF;
    }
}

.footer-subscribe-button {
    width: 165px;
    padding-left: 24px;
    padding-right: 14px;
    height: 40px;
    margin: 0 auto;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border-radius: 4px;
    outline: none;
    transition: background-color var(--transition-duration-function);
    cursor: pointer;
    letter-spacing: 0.04em;
    /* margin-top: 16px; */
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-subscribe-button {
        margin-left: 24px;
    }
}

.footer-subscribe-button-icon {
    margin-left: 16px;
}

/*/
    FOOTER Subscribe*/
/* ==========/FOOTER========== */

/* ==========МОДАЛЬНЕ ВІКНО=== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition-duration-function), visibility var(--transition-duration-function);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    display: flex;
    flex-direction: column;
    width: 408px;
    min-height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition-duration-function);
    padding: 72px 24px 24px 24px;
}

@media screen and (min-width: 320px) and (max-width: 427px) {
    .modal {
        width: 292px;
        min-height: 584px;
    }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
    .modal {
        width: 392px;
        min-height: 584px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1158px) {
    .modal {
        width: 408px;
        min-height: 584px;
    }
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    transition: background-color var(--transition-duration-function), border var(--transition-duration-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background: #404bbf;
    fill: #FFFFFF;
}

.modal-close-icon {
    fill: #2E2F42;
    transition: fill var(--transition-duration-function);
}

.modal-text-top {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-field-wraper {
    margin-bottom: 8px;
}

.modal-form-field {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-usual-desc {
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-input-wraper {
    position: relative;
}

.input-description {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    outline: transparent;
    padding-left: 38px;
    background: #FCFCFC;
    border-radius: 4px;
    color: #2E2F42;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: border-color var(--transition-duration-function);
}

.black-svg {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 16px;
    transition: fill var(--transition-duration-function);
}

.input-description:focus+.black-svg {
    fill: #4D5AE5;
}

.modal-checkbox:checked+.modal-form-field-checkbox>.fake-chackbox {
    background-color: var(--accent-color);
    border: none;
    fill: #FFFFFF;
    border-color: var(--accent-color);
}


.modal-textarea-wraper {
    margin-bottom: 16px;
}

.modal-form-field {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-usual-desc {
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.modal-user-message {
    display: inline-block;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    background-color: transparent;
    color: #2E2F42;
    padding: 8px 16px 8px 16px;
    transition: border-color var(--transition-duration-function);
    resize: none;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.2);
    outline: transparent;
}

.input-description:hover,
.input-description:focus,
.modal-user-message:focus {
    border-color: var(--accent-color-btn);
}

.checkbox-wraper {
    margin-bottom: 24px;
}

.modal-checkbox {
    position: absolute;
    overflow: hidden;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

.modal-checkbox:checked+.modal-form-field-checkbox>.fake-chackbox {
    background-color: var(--accent-color);
    border: none;
    fill: #FFFFFF;
    border-color: var(--accent-color);
}

.modal-form-field-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.fake-chackbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy {
    color: var(--accent-color-btn);
}

.modal-form-submit-button {
    align-self: center;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: none;
    line-height: 24px;
    color: #FFFFFF;
    min-width: 169px;
    height: 56px;
    transition: background-color var(--transition-duration-function);
}

.modal-form-submit-button:hover,
.modal-form-submit-button:focus {
    background: var(--accent-color);
}

/* ==========/МОДАЛЬНЕ ВІКНО=== */

/*portfolio.html*/
/* .section-portfolio-page {
    padding: 96px 0 120px;
}

.filter-btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
    gap: 24px;
}

.filter-btn {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--accent-color-btn);
    background: var(--secondary-text-color-theme-dark);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--primary-text-color-theme-dark);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-btn:hover {
    border: 1px solid #e7e9fc;
    border: 1px solid transparent;
}

.filter-btn:focus {
    border: 1px solid transparent;
}

.portfolio-card-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-card-container {
    background-color: var(#FFFFFF);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc((100% - 48px) / 3);
}

.link-card {
    display: block;
    border: 1px solid #e7e9fc;
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-card:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.text-description-box-card {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px
}

.text-title-description-card {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color-theme-light);
    background-color: var(--primary-text-color-theme-dark);
    margin-bottom: 8px
}

.text-description-card {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color-theme-light);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(77, 90, 229, 1);
    color: var(--secondary-text-color-theme-dark);
    overflow: auto;
    padding: 40px 32px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transform: translate(0px, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-card-wraper {
    position: relative;
    overflow: hidden;
}

.link-card:hover .overlay,
.link-card:focus .overlay {
    transform: translateY(0%);
} */

/* .text-title-project-card */